<div class="main-cont" style="background: whitesmoke;">
    <div class="row" style="height:99vh;margin: 0;">


        <div class="col-md-2 p-0" style="height: 100vh;background: #7690ff;">
            <div class="users">
                <div>
                </div>
                <div>
                    profile
                </div>
                <div>
                    <span class="fontTitle">Name:</span> <span class="fontvalue"> Westly David F</span>
                </div>
                <div>
                    <span class="fontTitle">Email:</span> <span class="fontvalue"> westly2818@gmail.com</span>
                </div>
                <div>
                    <span class="fontTitle">Employee Code:</span> <span class="fontvalue">BLPCE224</span>
                </div>
            </div>
            <div>
                <div class="nav center">
                    Dashboard
                </div>
            </div>

        </div>
        <div class="col-md-10 p-0">
            <div class="db-cont">
                <div class="row kpiCards">
                    <ng-container *ngFor="let item of cardData">
                        <div class="col col-md-3 center">
                            <div class="card">

                                <div class="title">
                                    {{item.title}}
                                </div>
                                <div class="value">
                                    {{item.value}}
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div style="display: flex;justify-content: end;">

                    <div style="margin: 17px 7px;">
                        <button class="btn btn-primary" matTooltip="Add a new task" [disabled]="this.disableAdd"
                            (click)="open(content)">Add
                            Task</button>
                    </div>
                    <div class="dropdown" style="margin: 17px 7px;">
                        <button class="btn btn-primary dropdown-toggle" type="button"
                            matTooltip="Update your task status" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" [disabled]="
                            this.disableUpdate">
                            Update Status
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ng-container *ngFor="let status of statusData">
                                <a class="dropdown-item" href="#" (click)="updateStatus(status)">{{status}}</a>
                            </ng-container>
                        </div>
                    </div>
                    <div class="button" data-tooltip="Report" style="margin: 17px 7px;">
                        <div class="button-wrapper" (click)="downloadreport()">
                            <div class="text">Download</div>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em"
                                    height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2"
                                        d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </div>

                </div>


                <div class="tableDiv">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Project Code</th>
                                <th>Product</th>
                                <th>Task Assigned By</th>
                                <th>Task Type</th>
                                <th>Task Description</th>
                                <th>Status</th>
                                <th>Start Time</th>
                                <th>Timeline</th>
                                <th>End Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let data of tableData">
                                <tr>
                                    <td>{{data.name}}</td>
                                    <td>{{data.projectCode}}</td>
                                    <td>{{data.product}}</td>
                                    <td>{{data.assignedBy}}</td>
                                    <td>{{data.taskType}}</td>
                                    <td>{{data.description}} </td>
                                    <td>{{data.status}}</td>
                                    <td>{{data.startTime}}</td>
                                    <td>{{data.timeline}}</td>
                                    <td>{{data.endTime}}</td>

                                </tr>
                            </ng-container>



                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Task Update</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body " style="height: 300px;padding: 30px;">
        <form [formGroup]="myForm">
            <div class="row" style="margin: 0px 0px 24px;">
                <div class="col col-md-4">
                    <mat-form-field>
                        <mat-label>Select Product</mat-label>
                        <mat-select formControlName="product">
                            <ng-container *ngFor="let item of prods">
                                <mat-option [value]="item">
                                    {{item}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Project Code" formControlName="code">
                            <mat-form-field class="example-full-width">
                                <input matInput (ngModelChange)="onInputChange($event)" placeholder="Your Input"
                                    #itemName>
                            </mat-form-field>
                            <button formControlName="code" mat-button>
                                Submit</button>
                            <mat-option *ngFor="let code of ProjectCodes" [value]="code">
                                {{ code }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-md-4">
                    <mat-form-field>
                        <mat-label>Task Type</mat-label>
                        <mat-select formControlName="type">
                            <ng-container *ngFor="let item of devType">
                                <mat-option [value]="item">
                                    {{item}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" style="margin: 0px 0px 24px;">
                <div class="col col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Assigned By" formControlName="assignedBy">
                            <mat-form-field class="example-full-width">
                                <input matInput #itemName>
                            </mat-form-field>
                            <button mat-button>
                                Submit</button>
                            <mat-option *ngFor="let data of leads" [value]="data">
                                {{ data }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-md-4 datepicker">
                    <!-- <input type="text" name="daterange" ngxDaterangepickerMd /> -->
                    <input formControlName="timeline" type="text" ngxDaterangepickerMd [(ngModel)]="selected"
                        [singleDatePicker]="true" [timePicker]="true" [timePicker24Hour]="true"
                        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY HH:mm'}" placeholder="Add Timeline"
                        [maxDate]="maxDate" class="form-control border border-primary" />
                </div>
                <div class="col col-md-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="" formControlName="description" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" [disabled]=" !myForm.valid" (click)="assignData(myForm)">Submit</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>